@{
    ViewBag.Title = "TimeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/App/TimeReport.js"></script>
    <script src="~/Scripts/App/TimeReportViewModel.js"></script>
    <script src="~/Scripts/App/AcrowireViewModel.js"></script>
    <script type="text/javascript">
        var vModel = new TimeReportViewModel();

        ko.applyBindings(vModel);
    </script>
}

<div class="row">
    <div class="col-xs-4">
        <h1>Time report Dev Pro</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Project</strong></th>
                    <th><strong>Task</strong></th>
                    <th><strong>Type</strong></th>
                    <th><strong>Description</strong></th>
                    <th><strong>Duration</strong></th>
                    <th><strong>Overtime</strong></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vModel.items">
                <tr>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: Project"></td>
                    <td data-bind="text: Task"></td>
                    <td data-bind="text: Type"></td>
                    <td data-bind="text: Description"></td>
                    <td data-bind="text: Duration"></td>
                    <td data-bind="text: Overtime"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6" style="white-space: normal">
        <h1 class="pull-left">Acrowire</h1>
        <form class="navbar-form pull-right">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Login" data-bind="value:vModel.acroLogin">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" data-bind="value: vModel.acroPassword">
            </div>
            <button class="btn btn-success" data-bind="click: vModel.SetAcroCookie">Set And Refresh</button>
        </form>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Person</strong></th>
                    <th><strong>Project</strong></th>
                    <th><strong>Summary</strong></th>
                    <th><strong>Billing Status</strong></th>
                    <th><strong>Hours</strong></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vModel.acroItems">
                <tr>
                    <td data-bind="text: Date"></td>
                    <td data-bind="text: Person"></td>
                    <td data-bind="text: Project"></td>
                    <td data-bind="text: Summary"></td>
                    <td data-bind="text: BillingStatus"></td>
                    <td data-bind="text: Hours"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-2">
        <h1>Filter</h1>
        <div class="well">
            <div class="form-group">
                <label for="ProjectType">Project Type</label>
                <input type="text" autocomplete="off" placeholder="Project Type" data-bind="value: vModel.FilterProject" id="ProjectType" class="form-control input-sm">
            </div>
            <div class="form-group">
                <label for="ProjectType">From:</label>
                <input data-bind='datepicker: vModel.FilterDateFrom' autocomplete="off" class="form-control input-sm" />
                <label for="ProjectType">To:</label>
                <input data-bind='datepicker: vModel.FilterDateTo' autocomplete="off" class="form-control input-sm" />
            </div>
            <div class="">
                <button class="btn btn-sm btn-success" data-bind="click: function () { vModel.Filter(); vModel.FilterAcro(); }">Query</button>
                <button class="btn btn-sm btn-warning" data-bind="click: function () { vModel.ResetFilter(); }">Reset Filter</button>
                <hr />
                <div class="form-group" id="Res" style="display: none">
                    <label>Totaly Hours</label>
                    <p data-bind="text: vModel.FilterTotalHours"></p>
                    <label>Totaly OverTime</label>
                    <p data-bind="text: vModel.FilterTotalOverTime"></p>
                </div>
            </div>

        </div>
    </div>
</div>

